# dependencies
node_modules/

# build
build/
dist/
dist-ssr/
*.local

# logs
logs/
*.log
npm-debug.log*

# Ignore environment variables
.env*
!.env.sample

# Ignore specific folders and files
server/node_modules/
client/node_modules/
.tanstack/

# typescript
*.tsbuildinfo

# Logs
logs
*.log
